.about-section {
  padding: 80px 40px; 
  background: var(--secondary-background);
  min-height: 80vh; 
  text-align: center;
  background-image: linear-gradient(rgba(28, 28, 28, 0.8), rgba(28, 28, 28, 0.8)), url('https://i.pinimg.com/originals/de/13/77/de1377bb4d20b833343ad3ab830dc820.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-background); 
  box-shadow: 0 10px 30p;
}

.about-section h2 {
  font-size: 2.8rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  position: relative;
}

.about-section p {
  font-size: 1.1rem;
  color: #b6b6b6; 
  max-width: 800px;
  margin: 0 auto 50px; 
}

.anime-list {
  display: flex;
  justify-content: center;
  gap: 30px; 
  flex-wrap: wrap;
  padding: 20px 0;
}

.anime-card {
  background: #fff;
  border: 1px solid#eee;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
  max-width: 300px; 
  flex-basis: 280px; 
  padding: 24px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left; 
}

.anime-card:hover {
  transform: translateY(-5px);
  background-color: #c7bbbb;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-color: black;
}

.anime-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 15px;
}

.anime-card h3 {
  font-size: 1.5rem;
  color: var(--primary-orange);
  margin: 0 0 8px 0;
  border-bottom: 2px solid var(--primary-orange);
  padding-bottom: 5px;
}

.anime-card p {
  font-size: 0.95rem;
  color: var(--dark-background);
  line-height: 1.5;
  margin: 0;
}



@media (max-width: 1024px) {
  .about-section {
    padding: 60px 20px;
  }
  .anime-list {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .about-section h2 {
    font-size: 2.2rem;
  }
  .anime-card {
    max-width: 90%; 
    flex-basis: 100%; 
  }
}